

.headerContainer{
    background-color: #fdf6f6;

    margin: 1rem 17rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .navLinks{
        >a{
            text-decoration: none;
            color: #242424;
            font-size: 17px;
            padding: 0 1em;
        }
    }
    > .btn{
        border-radius: 20%;
        >button{
            cursor: pointer;
            padding: .6rem 3rem;
            border-radius: 25px;
            background-color: #ff9b44;
            font-size: 20px;
            font-weight: 600;
            color: white;
            border: none;
        }
        >button:hover{
            background-color: white;
            color: #ff9b44;
            border: 1px solid #ff9b44;
        }

    }
}
